@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@400600&family=Inter:wght@400600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Geologica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: 1px solid #E6EDF0;
  opacity: 0px;
}

input:focus {
  outline: none;
}

.wrapper {
  max-width: 1286px;
  margin: 0 auto;
  padding: 0 35px;
}
@media (max-width: 1199px) {
  .wrapper {
    padding: 0 48px;
    margin: 0px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 0 24px;
  }
}

.nav {
  padding: 32px 0;
  border-bottom: 1px solid #E6EDF0;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0px;
  background-color: #FFFFFF;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 70px;
}
@media (max-width: 1199px) {
  .nav-container {
    justify-content: space-between;
  }
}

.menu {
  display: flex;
  gap: 70px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 28px;
}
.menu__item:hover {
  color: blue;
  text-decoration: underline;
}
@media (max-width: 1199px) {
  .menu {
    display: none;
  }
}

.hamburger {
  width: 32px;
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}
@media (max-width: 1199px) {
  .hamburger {
    display: flex;
  }
}
.hamburger__line {
  height: 2px;
  background-color: #0D0D0D;
}

.logo {
  width: 184px;
}
.logo img {
  width: 100%;
}
@media (max-width: 1199px) {
  .logo {
    width: 246px;
  }
}

.form {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
}

.form-container {
  background-color: #fff;
  padding: 80px 70px;
  border-radius: 24px;
}
.form-container__element {
  display: flex;
  gap: 130px;
}

.form-left {
  width: 357px;
}
.form-left__title {
  font-family: Arial;
  font-size: 63px;
  font-weight: 700;
  line-height: 77px;
}
.form-left__text {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 29px;
  margin-top: 24px;
}

.form-right {
  width: 589px;
}
.form-right__element-up {
  margin-bottom: 32px;
}
.form-right__element-down {
  display: flex;
  gap: 12px;
}

.input {
  display: block;
  width: 589px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #B4B4B4;
  padding: 16px 20px;
  font-size: 16px;
  line-height: 24px;
}
.input:not(.input:first-child) {
  margin-top: 24px;
}
.input::-moz-placeholder {
  color: #B4B4B4;
}
.input::placeholder {
  color: #B4B4B4;
}

.button {
  width: 224px;
  height: 56px;
  padding: 16px 32px 16px 32px;
  border-radius: 8px;
  border: 0px;
  background-color: #007DFF;
  font-family: Poppins;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  cursor: pointer;
}

.label {
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #007DFF;
  display: block;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.link:hover {
  text-decoration: underline;
}

input[type=checkbox] {
  display: none;
}

.custom-checkbox {
  display: inline-block;
  width: 25px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid #007DFF;
  cursor: pointer;
}

input[type=checkbox]:checked + .custom-checkbox {
  background-color: #FFFFFF;
  border-color: #007bff;
}
input[type=checkbox]:checked + .custom-checkbox::before {
  content: "✔";
  padding-left: 4.2px;
}

.text-header {
  font-size: 60px;
  line-height: 75px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 57px;
  margin-top: 170px;
}
@media (max-width: 1199px) {
  .text-header {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 767px) {
  .text-header {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (max-width: 223px) {
  .text-header {
    font-size: 19px;
    line-height: 25px;
  }
}
@media (max-width: 214px) {
  .text-header {
    font-size: 15px;
    line-height: 20px;
  }
}

.header-images {
  display: flex;
  gap: 20px;
}
@media (max-width: 1199px) {
  .header-images {
    gap: 11px;
  }
}
@media (max-width: 767px) {
  .header-images {
    flex-direction: column;
    gap: 5px;
  }
}

.header-img {
  width: 100%;
  position: relative;
}
.header-img img {
  width: 100%;
}

.application {
  position: absolute;
  bottom: -33px;
  right: -33px;
  transition: 15s linear;
}
.application:hover {
  transform: rotate(360deg);
}
@media (max-width: 1199px) {
  .application {
    width: 97px;
    bottom: -13px;
    right: -13px;
  }
}
@media (max-width: 969px) {
  .application {
    width: 80px;
    bottom: -13px;
    right: -13px;
  }
}
@media (max-width: 767px) {
  .application {
    width: 149px;
    bottom: -13px;
    right: -13px;
  }
}
@media (max-width: 720px) {
  .application {
    width: 129px;
    bottom: -13px;
    right: -13px;
  }
}
@media (max-width: 612px) {
  .application {
    width: 119px;
    bottom: -13px;
    right: -13px;
  }
}
@media (max-width: 568px) {
  .application {
    width: 99px;
    bottom: -13px;
    right: -13px;
  }
}
@media (max-width: 468px) {
  .application {
    width: 93px;
    bottom: -13px;
    right: -13px;
  }
}
@media (max-width: 400px) {
  .application {
    width: 69px;
    bottom: -13px;
    right: -13px;
  }
}
@media (max-width: 394px) {
  .application {
    width: 53px;
    bottom: -13px;
    right: -13px;
  }
}
@media (max-width: 274px) {
  .application {
    width: 30px;
    bottom: -9px;
    right: -9px;
  }
}
@media (max-width: 273px) {
  .application {
    width: 35px;
    bottom: -3px;
    right: -3px;
  }
}
@media (max-width: 200px) {
  .application {
    width: 30px;
    bottom: -4px;
    right: -4px;
  }
}

.run-line {
  display: flex;
  gap: 52px;
  padding: 19px;
}
@media (max-width: 1199px) {
  .run-line {
    gap: 32px;
    padding: 17px;
  }
}
@media (max-width: 767px) {
  .run-line {
    gap: 21px;
    padding: 12px;
  }
}
@media (max-width: 219px) {
  .run-line {
    gap: 12px;
    padding: 7px;
  }
}
.run-line__wrapper {
  width: 100%;
  overflow-x: hidden;
  border-top: 1.6px solid #000;
  border-bottom: 1.6px solid #000;
  margin-top: 113px;
  margin-bottom: 135px;
}
@media (max-width: 1199px) {
  .run-line__wrapper {
    border-top: 1.5px solid #000;
    border-bottom: 1.5px solid #000;
    margin-top: 55px;
    margin-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .run-line__wrapper {
    border-top: 0.6px solid #000;
    border-bottom: 0.6px solid #000;
    margin-top: 34px;
    margin-bottom: 32px;
  }
}
.run-line__item {
  font-size: 39px;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .run-line__item {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .run-line__item {
    font-size: 16px;
  }
}
@media (max-width: 220px) {
  .run-line__item {
    font-size: 11px;
  }
}

.discription {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 183px;
}
@media (max-width: 1199px) {
  .discription {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 32px;
  }
}
@media (max-width: 767px) {
  .discription {
    margin-top: 32px;
    margin-bottom: 70px;
    gap: 24px;
  }
}
.discription__left {
  width: 561px;
}
@media (max-width: 1199px) {
  .discription__left {
    width: 100%;
  }
}
.discription__right {
  width: 577px;
}
.discription__right img {
  width: 100%;
}
@media (max-width: 1199px) {
  .discription__right {
    max-width: 700px;
    width: 100%;
  }
}
.discription_revers {
  flex-direction: row-reverse;
}
@media (max-width: 1199px) {
  .discription_revers {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    gap: 32px;
  }
}
@media (max-width: 767px) {
  .discription_revers {
    margin-top: 74px;
    gap: 24px;
  }
}
.discription__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 48px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .discription__title {
    font-size: 32px;
    margin-bottom: 24px;
  }
}
@media (max-width: 332px) {
  .discription__title {
    font-size: 30px;
  }
}
@media (max-width: 322px) {
  .discription__title {
    font-size: 27px;
  }
}
@media (max-width: 280px) {
  .discription__title {
    font-size: 25px;
  }
}
@media (max-width: 270px) {
  .discription__title {
    font-size: 24px;
  }
}
@media (max-width: 253px) {
  .discription__title {
    font-size: 20px;
  }
}
@media (max-width: 240px) {
  .discription__title {
    font-size: 19px;
  }
}
@media (max-width: 210px) {
  .discription__title {
    font-size: 16px;
  }
}
.discription__text {
  font-size: 24px;
  line-height: 133%;
}
@media (max-width: 767px) {
  .discription__text {
    font-size: 14px;
  }
}
.discription__text_width {
  max-width: 574px;
}

.advantages {
  padding: 120px 0;
  background-color: darkblue;
  background-image: url(../images/advantages-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1199px) {
  .advantages {
    padding: 90px 0;
  }
}
@media (max-width: 767px) {
  .advantages {
    padding: 50px 0;
  }
}

.advantages-up {
  color: white;
}

.advantages-down {
  display: flex;
  margin-top: 145px;
  flex-wrap: wrap;
  gap: 16px;
}
@media (max-width: 1199px) {
  .advantages-down {
    width: 768px;
    width: 100%;
    align-items: flex-start;
    margin-top: 63px;
    gap: 21px;
  }
}
@media (max-width: 767px) {
  .advantages-down {
    width: 375px;
    width: 100%;
    align-items: flex-start;
    margin-top: 34px;
    gap: 10px;
  }
}
.advantages-down__element {
  width: 230px;
  height: 216px;
  font-size: 26px;
  line-height: 32.5px;
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 1199px) {
  .advantages-down__element {
    width: calc(50% - 5px);
    height: 304px;
    font-size: 40px;
    line-height: 50px;
    border-radius: 28px;
    padding-top: 28px;
    padding-left: 28px;
    padding-right: 28px;
  }
}
@media (max-width: 767px) {
  .advantages-down__element {
    width: calc(50% - 5px);
    height: 120px;
    font-size: 16px;
    line-height: 21px;
    border-radius: 13px;
    padding-top: 13px;
    padding-left: 13px;
    padding-right: 13px;
  }
}
@media (max-width: 258px) {
  .advantages-down__element {
    width: calc(50% - 5px);
    font-size: 14px;
    line-height: 12px;
  }
}
@media (max-width: 231px) {
  .advantages-down__element {
    width: calc(50% - 5px);
    font-size: 13px;
    line-height: 11px;
  }
}
@media (max-width: 224px) {
  .advantages-down__element {
    width: calc(50% - 5px);
    height: 64px;
    font-size: 13px;
    line-height: 11px;
  }
}
@media (max-width: 218px) {
  .advantages-down__element {
    width: calc(50% - 5px);
    height: 64px;
    font-size: 11px;
    line-height: 11px;
  }
}
.advantages-down__element_one {
  background-color: #007DFF;
  color: #FFFFFF;
}
.advantages-down__element_two {
  background-color: #FFFFFF;
  color: #0D0D0D;
}
.advantages-down__element_three {
  background-color: #0C2642;
  color: #FFFFFF;
}
.advantages-down__element_four {
  background-color: #212022;
  color: #FFFFFF;
}
.advantages-down__element_five {
  background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
  color: #FFFFFF;
}

.footer-container {
  display: flex;
  gap: 175px;
  margin-top: 56px;
}
@media (max-width: 1199px) {
  .footer-container {
    gap: 128px;
  }
}
@media (max-width: 767px) {
  .footer-container {
    display: none;
  }
}

.footer-left-down {
  display: flex;
  margin-top: 32px;
  gap: 16px;
}
.footer-left-down__element {
  width: 36px;
  height: 36px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #E6EDF0;
  opacity: 0px;
}

.footer-header {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 30px;
  color: #1F1F1F;
}
@media (max-width: 767px) {
  .footer-header {
    font-size: 16px;
  }
}

.footer-next__element {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
  color: #70777A;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .footer-next__element {
    font-size: 14px;
  }
}

.footer-center {
  display: none;
}
@media (max-width: 1199px) {
  .footer-center {
    display: block;
  }
}
@media (max-width: 767px) {
  .footer-center {
    display: block;
  }
}

.footer-logo {
  width: 153px;
}
.footer-logo img {
  width: 100%;
}
@media (max-width: 1199px) {
  .footer-logo {
    width: 153px;
  }
}
@media (max-width: 767px) {
  .footer-logo {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 32px;
  }
}

.footer-container11 {
  display: none;
}
@media (max-width: 1199px) {
  .footer-container11 {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer-container11 {
    display: block;
    margin-top: 48px;
  }
}

.footer-up {
  display: flex;
}
@media (max-width: 217px) {
  .footer-up {
    flex-direction: column;
  }
}

.footer-icon {
  display: flex;
  gap: 16px;
}
.footer-icon__element {
  width: 36px;
  height: 36px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #E6EDF0;
  opacity: 0px;
}

.footer-down {
  margin-top: 32px;
  display: flex;
  gap: 80px;
}
@media (max-width: 309px) {
  .footer-down {
    gap: 20px;
  }
}
@media (max-width: 280px) {
  .footer-down {
    gap: 20px;
  }
}
@media (max-width: 248px) {
  .footer-down {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */